@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #737272;
  --vt-c-black-mute: #282828;
 
  --theme-color: #293567;
  --theme-color2: #6e354e;

  --theme-bg-subtle: #29356720;

  --theme-btn: #293567;
  --theme-btn-hover: #3d466b;
  --qalendar-theme-color: #773062 !important;

  --account-bg: #f5f7fd;

  --vs-dropdown-option--active-bg: #773062 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* color: var(--vt-c-black-soft) !important; */
  background: var(--vt-c-white);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Bricolage Grotesque", "Open Sans", sans-serif;
  /* font-size: 15px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px !important;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3 !important;
}

.min-vh-50 {
  min-height: 50vh;
}

/* @media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #222222;
  }
} */
